---
layout: page
title: Kupitan
---

<div id="home">
  <ul id="blog-posts" class="posts">
    {% for album in site.collection %}
      {% if album.title != null %}
        <li><span>&raquo;</span> <a href="{{ site.baseurl }}{{ album.url | replace:'.html','/' }}">{{ album.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
