---
layout: default
title: Tulisan
---

<div id="home">
  <h1 class="title">Tulisan</h1>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      {% if post.title != null %}
        <li><span>{{ post.date | date_to_string | replace:"May","Mei" | replace:"Aug","Agu" | replace:"Oct","Okt" | replace:"Dec","Des" }} &raquo;</span><a href="{{ site.baseurl }}{{ post.url | replace:'.html','/' }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
