<div class="footer">
  <p>
    © <a href="mailto:pradana.aumars001@gmail.com">Pradana Aumars</a>, 2017 &mdash; built with <a href="http://jekyllrb.com/">Jekyll</a> using <a href="https://github.com/swanson/lagom">Lagom theme</a>
  </p>
</div>
