<nav>
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/images/logo.jpg" id="logo" alt="Blog logo"/>
  </a>
  <h2><a href="{{ site.baseurl }}/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>Situs pribadi Ayik Umar Said.</p>
  </div>

     {% comment %}
       The code below dynamically generates a sidebar nav of pages with
       `layout: page` in the front-matter. See readme for usage.
     {% endcomment %}

 {% assign pages_list = site.pages %}
 {% for node in pages_list %}
   {% if node.title != null %}
     {% if node.layout == "page" %}
       <p><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></p>
     {% endif %}
   {% endif %}
 {% endfor %}
 <div id="bio">
   <p><a class="sidebar-nav-item" href="{{ site.baseurl }}/collection/article-françois-vescia/">Article sur Umar Said par François Vescia</a></p>
   <p><a class="sidebar-nav-item" href="https://www.gitbook.com/book/aumars/perjalanan-hidup-saya">Perjalanan hidup saya</a></p>
   <p><a class="sidebar-nav-item" href="https://www.gitlab.com/umarsaid/umarsaid.gitlab.io">GitLab  Repository</a></p>
   <p><a class="sidebar-nav-item" href="https://umarsaid.gitlab.io/umarsaid-old/index.htm">Situs lama</a></p>
   <p><a class="sidebar-nav-item" href="https://www.youtube.com/playlist?list=PLNbjDE6xMFLhb0vdxVAGRbowZqS2PWt98">Video</a></p>
   <p><a class="sidebar-nav-item" href="https://imgur.com/gallery/723pj">Foto</a></p>
   <p><a class="sidebar-nav-item" href="https://soundcloud.com/pradana-aumars/sets/ayik-umar-said">Wawancara</a></p>
 </div>
</nav>
