---
layout: default
---

<p class="meta">
  {% include read_time.html %}
  <a href="{{ site.baseurl }}/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<div id="post">
  <h1 class="title">{{ page.title }}</h1>
  {{ content }}
</div>
