---
layout: default
---

<p class="meta">
  {% assign words = content | number_of_words %}
  {{ page.date | date: "%d %B %Y" | replace:"January","Januari" | replace:"February","Februari" | replace:"March","Maret" | replace:"May","Mei" | replace:"June","Juni" | replace:"August","Agustus" | replace:"October","Oktober" | replace:"December","Desember" }} &mdash; {% include read_time.html %}
  <a href="{{ site.baseurl }}/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<div id="post">
  <h1 class="title">{{ page.title }}</h1>
  {{ content }}
</div>

<div id="related">
  <h3>Pos terkait</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:6 %}
      {% if post.title != null %}
        <li><span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
